.login-page {
  height: 100vh;
  background: #f3f3f3;
  flex: 1 1;
  display: flex;
  align-items: center;
}
.login-page .login-container {
  margin: 0 auto;
  width: 640px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 110px 40px;
  position: relative;
}
.login-page .login-container .form-container form .forgot-password {
  color: #8590a6;
  margin-top: 10px;
  cursor: pointer;
}
.login-page .login-container .form-container form .forgot-password a:hover {
  text-decoration: underline;
}

.login-page section {
  width: 300px;
}

.login-page section .white-btn {
  width: 100%;
  box-sizing: border-box;
}

.login-page .login-container .horizontal-divider {
  width: 300px;
}

.login-page .demo-user{
  font-size: 0.9em;
}