.message-container {
  position: relative;
  flex: 1 1;
  flex-basis: 0;
  min-height: 0;
  min-width: 500px;
  margin: 0 -20px;
  display: flex;
  flex-direction: column;
}

.message-container .message-scrollable {
  max-height: 100%;
  margin-top: auto;
}

.message-container .simplebar-track.simplebar-vertical {
  right: 3px;
}

.message-container .simplebar-placeholder {
  width: 100% !important;
}

.message-container .message-group:first-of-type {
  margin-top: -30px;
}

.message-container .message-group:last-of-type {
  margin-bottom: 20px;
}

.message-group-header-container {
  position: relative;
}

.message-group-anchor {
  height: 20px;
  padding: 20px 0;
}

.message-group-anchor.sticky-on-top
  + .message-group-header-container
  .message-group-header {
  position: fixed;
  top: 48px;
  left: 240px;
  z-index: 1000;
  width: calc(100% - 240px);
  min-width: 540px;
  padding: 0;
}

.message-container .message-group-header {
  font-size: 0.85rem;
  font-weight: 500;
  position: absolute;
  top: -60px;
}

.message-load-history {
  font-size: 0.9rem;
  color: #999;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.message-item-common-container {
  padding: 4px 20px 2px 20px;
  display: flex;
  position: relative;
}

.message-item-common-container .user-identicon {
  position: relative;
  top: 2px;
}

.message-container .mentioned-user {
  color: #297fa3;
  background: rgba(0, 132, 255, 0.1);
  padding: 0 3px;
  margin-left: 1px;
  line-height: 21px;
}

.message-container .mentioned-user:hover {
  cursor: pointer;
}
