.sidebar-header {
  position: relative;
}

.sidebar-header-container {
  cursor: pointer;
  margin: -15px 0 -4px 0;
  padding: 15px 15px 8px 15px;
}

.sidebar-header-user-name .status-icon{
  margin-left: 5px;
  color: rgb(207, 35, 81);
}

.sidebar-header-workspace-name {
  font-weight: 600;
  color: white;
  font-size: 1.2rem;
  margin-right: 5px;
}

.sidebar-header-container:hover {
  color: white;
  background: #259;
}

