.sidebar-item {
  padding: 0 15px;
}

.sidebar-item.unread-item {
  font-weight: 600;
  color: white;
}

.sidebar-item .sidebar-item-other-user-count {
  text-align: center;
  flex: 0 0 11px;
  height: 11px;
  font-size: 10px;
  line-height: 11px;
  background: #bbb;
  color: #406e86;
  margin-right: 4px;
  border-radius: 2px;
}

.sidebar-active-item .sidebar-item-other-user-count {
  background: #ddd;
  color: #6c98af;
}

.sidebar-active-item
  .user-realtime-status
  .user-realtime-status-circle {
  background: white;
}

.sidebar-active-item
  .user-realtime-status.user-offline
  .user-realtime-status-circle {
  background: none;
  border: 2px solid white;
}

.sidebar-item .sidebar-item-name {
  flex: 1 1 auto;
  min-width: 0px;
  overflow: hidden;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar-item .unread-badge {
  background-color: rgb(207, 35, 81);
  width: 26px;
  height: 18px;
  border-radius: 18px;
  text-align: center;
  line-height: 18px;
  margin-left: auto;
  flex: 0 0 26px;
  font-size: 14px;
}

.sidebar-active-item,
.sidebar-active-item:hover {
  background-color: #aaabb8;
  color: white;
}

.status-icon.sidebar-item-other-user-status {
  font-size: 0.72em;
  margin: 0 6px 0 3px;
}
