.content-message-file-item .file-item-toolbar-container {
  display: none;
}

.content-message-file-item:hover .file-item-toolbar-container {
  display: block;
}

.content-message-file-item .file-image-item {
  position: relative;
  margin: 5px 18px 5px 0;
}

.file-image-item-name {
  font-size: 0.8rem;
  color: #666;
  font-family: Lucida Console, Courier, monospace;
  margin: 4px 0;
}

.content-message-file-item .file-item {
  width: 300px;
  margin-left: 0;
  margin-right: 18px;
  position: relative;
}
