.content-header {
  flex: 0 0 auto;
  height: 58px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 -20px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: #666;
}

.content-header-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

.content-header-details {
  flex: 1 1 auto;
}

.content-header-settings {
  display: inline-block;
  margin-left: 10px;
  color: #666;
}

.content-header-settings:hover {
  color: #297fa3;
}
