.message-item-edit-container {
  background: rgba(201, 40, 48, 0.1);
}

.message-item-editor-container {
  flex: 1 1 auto;
}

#messageItemEditor {
  width: 100%;
}

.message-item-editor-buttons {
  margin-top: 8px;
  margin-bottom: 4px;
}

.message-item-editor-buttons .btn {
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  padding: 0 15px;
  margin-right: 10px;
}
