.message-container {
  position: relative;
  flex: 1 1;
  flex-basis: 0;
  min-height: 0;
  min-width: 500px;
  margin: 0 -20px;
}
.message-container .message-scrollable {
  max-height: 100%;
}

.message-container .simplebar-track.simplebar-vertical {
  right: 3px;
}

.message-container .simplebar-placeholder {
  width: 100% !important;
}

.message-container .message-group:first-of-type {
  margin-top: -30px;
}

.message-container .message-group:last-of-type {
  margin-bottom: 20px;
}

.message-group-header-container {
  position: relative;
}

.message-group-anchor {
  height: 20px;
  padding: 20px 0;
}

.message-group-anchor.sticky-on-top
  + .message-group-header-container
  .message-group-header {
  position: fixed;
  top: 48px;
  left: 220px;
  z-index: 100;
  width: calc(100% - 220px);
  min-width: 540px;
  padding: 0;
}

.message-container .message-group-header {
  font-size: 0.85rem;
  font-weight: 500;
  position: absolute;
  top: -60px;
}
