#content {
  height: 100vh;
  flex: 1 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  overflow: hidden;
}

#content .segment {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  box-shadow: none;
  border: 0;
}

#content .segment img:first-of-type {
  height: 30px;
}

#content .segment img + img {
  margin-top: 56px;
}

.mentioned-user {
  color: #297fa3;
  background: rgba(0, 132, 255, 0.1);
  padding: 3px;
  margin-right: 3px;
}

.emoji-container {
  height: 22px;
  width: 22px;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  position: relative;
  top: 4px;
}
