.message-box {
  border: 2px solid #999;
  border-radius: 6px;
  min-height: 40px;
  display: flex;
  align-items: center;
  position: relative;
}
.message-box.focus {
  border-color: #666;
}

.message-editor-container {
  flex: 1 1 auto;
  min-height: 40px;
}

.message-box-buttons {
  flex: 0 0 auto;
  margin-left: 10px;
  margin-right: 5px;
  color: #666;
  font-size: 1.2rem;
  align-self: flex-end;
  display: flex;
}

.message-box-buttons input[type="file"] {
  display: none;
}

.message-box-buttons .message-box-button {
  margin-right: 10px;
  transition: 0.1s;
  box-sizing: border-box;
  width: 24px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
}

.message-box-buttons .message-box-button:hover {
  cursor: pointer;
  font-size: 1.5rem;
}

.message-box-button .icon-paperclip {
  transform: rotate(-45deg);
}

.message-box-button:hover .icon-paperclip {
  color: #795548;
}

.message-box-button:hover .icon-mention {
  color: #297fa3;
}

.message-box-button:hover .icon-emoji {
  color: #dba100;
}

.message-prompt {
  font-size: 0.8rem;
  position: absolute;
  color: #666;
  bottom: -18px;
  right: 0;
}
.message-prompt span {
  margin: 0 3px;
}

.user-mention-container {
  position: relative;
}

.emoji-picker {
  position: absolute;
  bottom: 42px;
  right: -7px;
}

/* overrides for quill editor */
.ql-container {
  border: none !important;
  font-size: 1rem !important;
  height: 100%;
}

.ql-toolbar {
  display: none;
}

.ql-editor {
  padding: 6px 15px !important;
  max-height: 40vh;
  line-height: 2;
}

.ql-editor.ql-blank::before {
  color: #aaa;
  font-style: normal;
  font-size: 1rem;
}

.ql-editor p {
  line-height: 2;
}
