@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To iChat</h1>

    <h2>Channels</h2>
    @foreach (var channel in Model.Channels) {
        @Html.DisplayNameFor(model => channel.Name) @::
        @Html.DisplayFor(model => channel.Name)
        <br />
        @Html.DisplayNameFor(model => channel.Topic) @::
        @Html.DisplayFor(model => channel.Topic)
        <br />
    }
</div>
