@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="container">
    <div id="sideBar">
        <h2>Channels</h2>
        @foreach (var channel in Model.Channels) {
            @Html.DisplayNameFor(model => channel.Name) @::
            @Html.DisplayFor(model => channel.Name)
            <br />
            @Html.DisplayNameFor(model => channel.Topic) @::
            @Html.DisplayFor(model => channel.Topic)
            <br />
        }
    </div>
    
    <div id="content">
        <div class="content-header">
            Header
        </div>
        <div class="message-container">
            MessageContainer
        </div>
    </div>
</div>