@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="container">
    <div id="sideBar">
        <h2>Channels</h2>
        @foreach (var channel in Model.Channels) {
            <a asp-page="./Index" asp-route-channelID="@channel.ID">
                <div class="channel-item" >
                    #&nbsp;
                    @Html.DisplayFor(model => channel.Name)
                </div>
            </a>
        }
    </div>

    <div id="content">
        <div class="content-header">
            <div class="channel-name">
                #@Model.SelectedChannel.Name
            </div>
            <div class="channel-topic">
                @Model.SelectedChannel.Topic
            </div>
        </div>
        <div class="message-container">
            MessageContainer
        </div>
    </div>
</div>