.emoji-picker-root,
.emoji-picker-root .icon-emoji {
  height: 100%;
  width: 100%;
  line-height: inherit;
}

.emoji-picker-container:hover {
  cursor: default;
}

.emoji-picker {
  visibility: hidden;
}
