.user-popup {
  width: 300px;
}

.user-popup-header .user-identicon {
  margin: 0;
  width: 300px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.user-popup-user-info {
  padding: 3px 22px 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-popup-user-name {
  font-size: 1.1em;
  line-height: 1.6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-popup-user-name .user-realtime-status{
  margin-left: 4px;
  position: relative;
  top: 1px;  
}

.user-popup-user-name .user-realtime-status.user-offline .user-realtime-status-circle{
  border-color: #999;
}

.user-popup-list-section {
  padding: 0 22px;
}
