.join-channel-form {
  min-height: 400px;
}

.join-channel-form form {
    width: 400px;
}

.join-channel-form .dropdown {
    box-sizing: border-box;
    width: 400px;
}

.join-channel-form .menu {
    box-sizing: border-box;
}

.join-channel-form button[type="submit"]{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}