#uploadFileForm {
  width: 430px;
}

.file-item i.icon {
  font-size: 36px;
  color: #666;
}

.file-container {
  background: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px 15px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.file-container .file-item {
  background: white;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 4px;
  width: 42%;
  color: #333;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 5px 0;
}
