@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-page">
    <div class="login-container">
        <h1>@ViewData["Title"]</h1>
        <div class="login-form">
            <form id="account" method="post">
                <div>Enter email address and password to log in.</div>
                <div asp-validation-summary="All" class="error-text"></div>
                <input asp-for="Input.Email" class="form-input" />
                <input asp-for="Input.Password" class="form-input" />
                <button type="submit" class="btn btn-primary">Log in</button>
                <div class="remember-me">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="forgot-password">
                    <a asp-page="./ForgotPassword">Forgot your password?</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
