@import 'variable';

.login-page {
    height: 100vh;
    background: $backgroud-grey;
    padding-top: 150px;

    .login-container {
        margin: 0 auto;
        width: 640px;
        border: 1px solid $border-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 110px;
        box-sizing: border-box;

        .login-form form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .form-control {
                width: 100%;
                font-size: 1.2rem;
            }

            button[type="submit"] {
                margin-top: 10px;
            }

            .forgot-password {
                color: #8590a6;
                margin-bottom: 40px;
                margin-top: 15px;

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
