@import 'variable';

body {
    min-height: 100vh;
    margin: 0;
    color: $main-text-color;
    line-height: 1.5;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;

    &:active, &:visited {
        color: inherit;
    }
}

textarea, input {
    border: 1px solid #e7eaf1;
    border-radius: 3px;
    padding: 6px 12px;
}

input[type="password"]:focus, input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    outline: none;
    border: 1px solid $dark-blue;
    box-shadow: 0 0 4px $dark-blue;
    -moz-box-shadow: 0 0 4px $dark-blue;
    -webkit-box-shadow: 0 0 4px $dark-blue;
}


input::placeholder {
    color: $placeholder-color;
}

code {
    @extend %grey-background;
    color: $dark-red;
    font-size: 0.75rem;
    padding: 2px 3px;
    font-weight: normal !important;
    font-style: normal !important;
}

pre {
    @extend %grey-background;
    font-size: 0.75rem;
    border-radius: 4px;
    padding: 9px 7px;
}

blockquote {
    padding-left: 0.9rem;
    border-left: 4px solid $border-color;
    margin-left: 0;
}

.btn {
    border-radius: 2px;
    background-color: $primary-blue;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fefefe;
    padding: 0 30px;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    border: none;

    &:hover {
        background: #368bc1;
        box-shadow: 0 0 2px #368bc1;
        -moz-box-shadow: 0 0 2px #368bc1;
        -webkit-box-shadow: 0 0 2px #368bc1;
        text-decoration: none;
    }

    &:active {
        background-color: #277aac;
        box-shadow: inset 0 0 10px #174a80;
        -moz-box-shadow: inset 0 0 10px #174a80;
        -webkit-box-shadow: inset 0 0 10px #174a80;
    }
}

.panel {
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.grey-background {
    @extend %grey-background;
}

.form-control {
    margin-bottom: 12px;
    box-sizing: border-box;
    height: 40px;
}

#container {
    display: flex;
    min-height: 100vh;
}

#sideBar {
    width: 220px;
    background: $dark-blue;
    color: #ddd;
    min-height: 100%;

    .channel-item {
        height: 26px;

        &:hover {
            cursor: pointer;
            background: $darker-blue;
        }

        &.active-channel {
            background: $darker-blue;
        }
    }
}

#content {
    min-height: 100%;
    flex: 1 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    overflow: hidden;
}

.content-header {
    flex: 0 0 auto;
    height: 58px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: 0 -20px;
    padding: 0 20px;
}

.message-container {
    position: relative;
    flex: 1 1 0;
    min-height: 0;

    .message-scrollable {
        max-height: 100%;
        visibility: hidden;
    }
}

.footer {
    bottom: 0;
    min-height: 40px;
    margin-bottom: 22px;
    width: 100%;
    flex: 0 0 auto;
    position: relative;

    .message-box {
        border: 2px solid #616061;
        border-radius: 6px;
        min-height: 40px;
    }

    .message-prompt {
        font-size: 0.7rem;
        position: absolute;
        color: $grey-text;
        bottom: -18px;
        right: 0;
    }
}
