@import 'variable';

body {
    min-height: 100vh;
    margin: 0;
    color: $main-text-color;
    line-height: 1.5;
    font-family: "Roboto",sans-serif;
}

a {
    text-decoration: none;
    color: inherit;

    &:active, &:visited {
        color: inherit;
    }
}

textarea, input {
    border: 1px solid #e7eaf1;
    border-radius: 3px;
    padding: 6px 12px;
}

input[type="password"]:focus, input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    outline: none;
    border: 1px solid $dark-blue;
    box-shadow: 0 0 4px $dark-blue;
    -moz-box-shadow: 0 0 4px $dark-blue;
    -webkit-box-shadow: 0 0 4px $dark-blue;
}


input::placeholder {
    color: #aaa;
}

.btn {
    border-radius: 2px;
    background-color: $primary-blue;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fefefe;
    padding: 0 30px;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    border: none;

    &:hover {
        background: #368bc1;
        box-shadow: 0 0 2px #368bc1;
        -moz-box-shadow: 0 0 2px #368bc1;
        -webkit-box-shadow: 0 0 2px #368bc1;
        text-decoration: none;
    }

    &:active {
        background-color: #277aac;
        box-shadow: inset 0 0 10px #174a80;
        -moz-box-shadow: inset 0 0 10px #174a80;
        -webkit-box-shadow: inset 0 0 10px #174a80;
    }
}

.panel {
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.form-control {
    margin-bottom: 12px;
    box-sizing: border-box;
    height: 40px;
}

#container {
    display: flex;
    min-height: 100vh;
}

#sideBar {
    width: 220px;
    background: $dark-blue;
    color: #ddd;
    min-height: 100%;

    .channel-item {
        height: 26px;

        &:hover {
            cursor: pointer;
            background: $darker-blue;
        }

        &.active-channel {
            background: $darker-blue;
        }
    }
}

#content {
    min-height: 100%;
    flex: 1 0 auto;
    position: relative;
}

.content-header {
    height: 58px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.message-container {
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    margin-bottom: 20px;
    width: 100%;

    .message-box {
        margin: 0 20px;
        border: 2px solid #616061;

        input {
            width: 100%;
        }
    }
}
