body {
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;

    &:active, &:visited {
        color: inherit;
    }
}

#container {
    display: flex;
    min-height: 100vh;
}

#sideBar {
    width: 220px;
    background: #206890;
    color: #ddd;
    min-height: 100%;

    .channel-item {
        height: 26px;

        &:hover {
            cursor: pointer;
            background: #259;
        }
        
        &.active-channel {
            background: #259;
        }
    }
}

#content {
    min-height: 100%;
    flex: 1 0 auto;
    position: relative;
}

.content-header {
    height: 58px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.message-container{
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    margin-bottom: 20px;
    width: 100%;

    .message-box {
        margin: 0 20px;
        border: 2px solid #616061;

        input {
            width: 100%;
        }
    }
}