$primary-blue: #297fa3;
$dark-blue: #206890;
$darker-blue: #259;
$border-color: #ddd;
$darker-border-color: #999;
$darkest-border-color: #666;
$main-text-color: #333;
$placeholder-color: #aaa;
$backgroud-grey: #f3f3f3;
$dark-red: #d32f2f;
$grey-text: #666;

// shared css
%grey-background {
    border: 1px solid $border-color;
    background: $backgroud-grey;
    border-radius: 3px;
}
