.modal-panel-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-panel {
  width: 600px;
  min-height: 400px;
  max-height: cacl(100vh - 200px);
  color: #333;
  position: relative;
  margin-bottom: 100px;
  margin-top: 30px;
  padding: 20px 20px 40px 20px;
  box-sizing: border-box;
  overflow-y: auto;
}