code, pre, .grey-background {
  border: 1px solid #ddd;
  background: #f3f3f3;
  border-radius: 3px; }

.login-page {
  height: 100vh;
  background: #f3f3f3;
  padding-top: 150px; }
  .login-page .login-container {
    margin: 0 auto;
    width: 640px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 110px;
    box-sizing: border-box; }
    .login-page .login-container .login-form form {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .login-page .login-container .login-form form .form-control {
        width: 100%;
        font-size: 1.2rem; }
      .login-page .login-container .login-form form button[type="submit"] {
        margin-top: 10px; }
      .login-page .login-container .login-form form .forgot-password {
        color: #8590a6;
        margin-bottom: 40px;
        margin-top: 15px; }
        .login-page .login-container .login-form form .forgot-password a:hover {
          text-decoration: underline; }

code, pre, .grey-background {
  border: 1px solid #ddd;
  background: #f3f3f3;
  border-radius: 3px; }

body {
  min-height: 100vh;
  margin: 0;
  color: #333;
  line-height: 1.5;
  font-family: "Roboto",sans-serif;
  font-size: 15px; }

a {
  text-decoration: none;
  color: inherit; }
  a:active, a:visited {
    color: inherit; }

textarea, input {
  border: 1px solid #e7eaf1;
  border-radius: 3px;
  padding: 6px 12px; }

input[type="password"]:focus, input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  outline: none;
  border: 1px solid #206890;
  box-shadow: 0 0 4px #206890;
  -moz-box-shadow: 0 0 4px #206890;
  -webkit-box-shadow: 0 0 4px #206890; }

input::placeholder {
  color: #aaa; }

code {
  color: #d32f2f;
  font-size: 0.75rem;
  padding: 2px 3px;
  font-weight: normal !important;
  font-style: normal !important; }

pre {
  font-size: 0.75rem;
  border-radius: 4px;
  padding: 9px 7px; }

blockquote {
  padding-left: 0.9rem;
  border-left: 4px solid #ddd;
  margin-left: 0; }

.btn {
  border-radius: 2px;
  background-color: #297fa3;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fefefe;
  padding: 0 30px;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  border: none; }
  .btn:hover {
    background: #368bc1;
    box-shadow: 0 0 2px #368bc1;
    -moz-box-shadow: 0 0 2px #368bc1;
    -webkit-box-shadow: 0 0 2px #368bc1;
    text-decoration: none; }
  .btn:active {
    background-color: #277aac;
    box-shadow: inset 0 0 10px #174a80;
    -moz-box-shadow: inset 0 0 10px #174a80;
    -webkit-box-shadow: inset 0 0 10px #174a80; }

.panel {
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.form-control {
  margin-bottom: 12px;
  box-sizing: border-box;
  height: 40px; }

#container {
  display: flex;
  min-height: 100vh; }

#sideBar {
  width: 220px;
  background: #206890;
  color: #ddd;
  min-height: 100%; }
  #sideBar .channel-item {
    height: 26px; }
    #sideBar .channel-item:hover {
      cursor: pointer;
      background: #259; }
    #sideBar .channel-item.active-channel {
      background: #259; }

#content {
  min-height: 100%;
  flex: 1 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  overflow: hidden; }

.content-header {
  flex: 0 0 auto;
  height: 58px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 -20px;
  padding: 0 20px; }

.message-container {
  position: relative;
  flex: 1 1 0;
  min-height: 0; }
  .message-container .message-scrollable {
    max-height: 100%;
    visibility: hidden; }

.footer {
  bottom: 0;
  min-height: 40px;
  margin-bottom: 22px;
  width: 100%;
  flex: 0 0 auto;
  position: relative; }
  .footer .message-box {
    border: 2px solid #616061;
    border-radius: 6px;
    min-height: 40px; }
  .footer .message-prompt {
    font-size: 0.7rem;
    position: absolute;
    color: #666;
    bottom: -18px;
    right: 0; }

code, pre, .grey-background {
  border: 1px solid #ddd;
  background: #f3f3f3;
  border-radius: 3px; }

.ql-container {
  border: none !important;
  height: auto;
  font-size: 1rem !important; }

.ql-toolbar {
  display: none; }

.ql-editor {
  padding: 10px 15px !important;
  max-height: 40vh; }
  .ql-editor.ql-blank::before {
    color: #aaa;
    font-style: normal;
    font-size: 1rem; }

.simplebar-track.simplebar-vertical {
  right: -17px; }

code, pre, .grey-background {
  border: 1px solid #ddd;
  background: #f3f3f3;
  border-radius: 3px; }

/*# sourceMappingURL=site.css.map */