body {
  min-height: 100vh;
  margin: 0;
  color: #333;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  overflow: hidden;
}

code,
pre,
.grey-background {
  border: 1px solid #ddd;
  background: #f3f3f3;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:active,
a:visited,
a:hover {
  color: inherit;
}

p {
  margin: 0;
}

h1 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

*,
:after,
:before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea,
input {
  border: 1px solid #e7eaf1;
  border-radius: 3px;
  padding: 6px 12px;
}

input[type="password"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border: 1px solid #206890;
  box-shadow: 0 0 4px #206890;
  -moz-box-shadow: 0 0 4px #206890;
  -webkit-box-shadow: 0 0 4px #206890;
}

input::placeholder {
  color: #aaa;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

code {
  color: #d32f2f;
  font-size: 0.75rem;
  padding: 2px 3px;
  font-weight: normal !important;
  font-style: normal !important;
}

pre {
  font-size: 0.75rem;
  border-radius: 4px;
  padding: 9px 7px;
}

blockquote {
  padding-left: 0.9rem;
  border-left: 4px solid #ddd;
  margin-left: 0;
}

button {
  padding: 0;
}

.btn {
  border-radius: 2px;
  background-color: #297fa3;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fefefe;
  padding: 0 30px;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
  height: 40px;
  border: none;
  outline: none;
}
.btn:hover {
  background: #368bc1;
  box-shadow: 0 0 2px #368bc1;
  -moz-box-shadow: 0 0 2px #368bc1;
  -webkit-box-shadow: 0 0 2px #368bc1;
  text-decoration: none;
}
.btn:active {
  background-color: #277aac;
  box-shadow: inset 0 0 10px #174a80;
  -moz-box-shadow: inset 0 0 10px #174a80;
  -webkit-box-shadow: inset 0 0 10px #174a80;
}

.btn.white-btn {
  background-color: white;
  color: #333;
  border: 1px solid #ddd;
  font-weight: 600;
  font-size: 1rem;
}

.btn.white-btn:hover,
.btn.white-btn:active {
  background-color: white;
  box-shadow: 0 0 2px #666;
  -moz-box-shadow: 0 0 2px #666;
  -webkit-box-shadow: 0 0 2px #666;
}

.btn.disabled-button {
  background: #aaa;
  box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  -webkit-box-shadow: 0 0 2px #999;
  pointer-events: none;
}

.panel {
  background: #fff;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}

.form-container h1 {
  text-align: center;
}

.form-description {
  margin-bottom: 15px;
}

form .form-group {
  margin-bottom: 10px;
  width: 100%;
}

form .form-group label {
  font-weight: bold;
  margin-bottom: 3px;
  display: block;
}

form .form-group label:hover {
  cursor: pointer;
}

form .form-control {
  margin-bottom: 12px;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  font-size: 1.2rem;
}

form button[type="submit"] {
  margin-top: 20px;
}

.hide {
  display: none;
  opacity: 0;
}

.invisible {
  visibility: hidden;
}

.secondary-text {
  font-weight: normal;
  color: #666;
}

.horizontal-divider {
  position: relative;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  height: 20px;
}
.horizontal-divider span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 100;
  padding: 0 20px;
}

.horizontal-divider::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  top: 50%;
  background-color: #ddd;
}
.horizontal-divider::after {
  right: 0;
}

.user-identicon {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.list-item {
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}
.list-item:hover {
  cursor: pointer;
  background: #259;
}

.list-item.active-item {
  background: #259;
  color: white;
}

/* sematic ui icon */
i.icon {
  margin: 0;
  line-height: 1em;
}

.warning-text {
  background: rgba(0, 132, 255, 0.1);
  border: 1px solid #6bcdf7;
  padding: 10px 20px;
  border-radius: 4px;
}

.file-item i.icon {
  font-size: 36px;
  color: #6bcdf7;
  margin-right: 5px;
}

.file-container {
  background: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px 15px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px 0;
}

.file-container .file-item {
  background: white;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 4px;
  width: 160px;
  color: #333;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 5px 6px;
}

.ui.popup {
  font-weight: 600;
  transition: all 0s ease 0.5s;
}
