.sidebar-header {
  position: relative;
}

.sidebar-header-container {
  cursor: pointer;
  margin: -15px -15px -4px -15px;
  padding: 15px 15px 8px 15px;
}

.sidebar-header-workspace-name {
  font-weight: 600;
  color: white;
  font-size: 1.1rem;
  margin-right: 5px;
}

.sidebar-header-container:hover {
  color: #ddd;
  background: #259;
}

.sidebar-header-dropdown {
  position: absolute;
  z-index: 100;
  background-color: white;
  color: #333;
  padding: 0 22px 15px;
  left: -5px;
  min-width: 220px;
  transition: all 0.3s;
}

.sidebar-header-dropdown-section {
  margin: 0 -22px;
  padding: 0 22px;
}

.sidebar-header-dropdown-section:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.sidebar-header-dropdown-section ul li {
  cursor: pointer;
  margin: 0 -22px;
  padding: 4px 22px;
}

.sidebar-header-dropdown-section ul li:hover {
  background: #259;
  color: white;
}

.sidebar-header-dropdown-section-header {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 20px 0 10px;
  display: flex;
  align-items: center;
}

.sidebar-header-dropdown-section-header img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
