#sidebar {
  width: 220px;
  background: #206890;
  color: #ddd;
  min-height: 100%;
  padding: 15px;
  flex: 0 0 auto;
  box-sizing: border-box;
}
#sidebar .section-title {
  line-height: 2;
  font-weight: 500;
  margin: 25px 0 5px;
}
