.login-page {
  height: 100vh;
  background: #f3f3f3;
  flex: 1 1;
  display: flex;
  align-items: center;
}
.login-page .login-container {
  margin: 0 auto;
  width: 640px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 110px 40px;
  transition: all 1s;
}
.login-page .login-container .login-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.login-page .login-container .login-form form .form-control {
  width: 100%;
  font-size: 1.2rem;
}
.login-page .login-container .login-form form button[type="submit"] {
  margin-top: 10px;
}
.login-page .login-container .login-form form .forgot-password {
  color: #8590a6;
  margin-top: 15px;
}
.login-page .login-container .login-form form .forgot-password a:hover {
  text-decoration: underline;
}

.login-page section {
  width: 300px; 
}

.login-page section .white-btn{
  width: 100%;  
}

#workspaceContainer{
  position: relative;
}

.hide-container {
  display: none !important;
  transition: all 1s;
  opacity: 0;
}

.horizontal-divider {
  position: relative;
  margin: 20px 0;
  width: 300px;
  text-align: center;
}
.horizontal-divider::before,
.horizontal-divider::after {
  content: "";
  width: 40%;
  position: absolute;
  height: 1px;
  top: 50%;
  background-color: #ddd;
}
.horizontal-divider::before{
  left: 0;
}
.horizontal-divider::after{
  right: 0;
}